<form role="from">

    <script cam-script type="text/form-script">


        camForm.on('form-loaded', function() {
            camForm.variableManager.fetchVariable('vertrag');
            camForm.variableManager.fetchVariable('risk');
        });

        camForm.on('variables-fetched', function() {
            $scope.vertrag = camForm.variableManager.variable('vertrag').value;
            $scope.risk = camForm.variableManager.variable('risk').value;
        });

    </script>

    <h3>Vertrag</h3>
    <table class="table table-striped">
        <tr>
            <td><b>Vertragsnummer</b></td>
            <td><b>{{vertrag.vertragName}}</b></td>
        </tr>
        <tr>
            <td><b>Versicherungsnehmer</b></td>
            <td><b>{{vertrag.versicherungsnehmer.name}}</b></td>
        </tr>
        <tr>
            <td><b>Alter</b></td>
            <td><b>{{vertrag.versicherungsnehmer.age}}</b></td>
        </tr>
        <tr>
            <td><b>Autotyp</b></td>
            <td><b>{{vertrag.auto.carType}}</b></td>
        </tr>
        <tr>
            <td><b>Unfallfreie Jahre</b></td>
            <td><b>{{vertrag.auto.sfClass}}</b></td>
        </tr>
        <tr>
            <td><b>Versicherungsprodukt</b></td>
            <td><b>{{vertrag.produkt}}</b></td>
        </tr>
        <tr>
            <td><b>Beitrag</b></td>
            <td><b>{{vertrag.beitrag}}</b></td>
        </tr>

    </table>

    <h3>Riskio</h3>
    <table class="table table-striped table-hover">
        <tr>
            <td>{{risk}}</td>
        </tr>
    </table>

    <h3>Hinweise</h3>
    <textarea class="form-control"
              cam-variable-name="hinweis"
              cam-variable-type="String"/>

</form>