<form role="form" name="Dokument Senden">

    <script cam-script type="text/form-script">

        camForm.on('form-loaded', function() {
            camForm.variableManager.fetchVariable('wrongRefID');
        });

        camForm.on('variables-fetched', function() {
            $scope.wrongRefError = camForm.variableManager.variableValue('wrongRefID');
            console.log($scope.wrongRefError);
        });
    </script>

    <h3>Dokumenten Upload</h3>

    <div class="error">{{wrongRefError}}</div>

    <div class="form-group">
        <label for="referenz">Referenz ID:</label>
        <input class="form-control"
               cam-variable-type="String"
               cam-variable-name="refID"
               id="referenz"
               required/>
        <div class="help-block">This field is required</div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-4"
               for="dokumentUpload">Datei hochladen</label>
        <div class="col-md-8">
            <input type="file"
                   id="dokumentUpload"
                   cam-variable-name="dokumentRequested"
                   cam-variable-type="File"
                   cam-max-filesize="10000000"
                   accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                   class="form-control"/>
            <div class="help-block">This field is required</div>
        </div>
    </div>

    <script cam-script type="text/form-script">
    var fileUpload = $('#dokumentUpload');
    var fileUploadHelpBlock = $('.help-block', fileUpload.parent());

    function flagFileUpload() {
      var hasFile = fileUpload.get(0).files.length > 0;
      fileUpload[hasFile ? 'removeClass' : 'addClass']('ng-invalid');
      fileUploadHelpBlock[hasFile ? 'removeClass' : 'addClass']('error');
      return hasFile;
    }

    fileUpload.on('change', function () {
      flagFileUpload();
    });

    camForm.on('submit', function(evt) {
      var hasFile = flagFileUpload();

      // prevent submit if user has not provided a file
      evt.submitPrevented = !hasFile;
    });
  </script>
</form>