<form name="Versicherungsantrag">
    <h3>Vertrag Details</h3>

    <div class="form-group">
        <label for="customerName">Name</label>
        <input class="form-control"
               cam-variable-type="String"
               cam-variable-name="customerName"
               id="customerName"
               required/>
    </div>

    <div class="form-group">
        <label for="customerEmail">Email</label>
        <input class="form-control"
               cam-variable-type="String"
               cam-variable-name="customerEmail"
               id="customerEmail"
               type="email"
               required/>
    </div>

    <div class="form-group">
        <label for="customerAge">Alter</label>
        <input class="form-control"
               cam-variable-type="Integer"
               cam-variable-name="customerAge"
               id="customerAge"
               type="number"
               min="18"
               max="100"
               required/>
    </div>

    <div class="form-group">
        <label for="gender">Gender</label>
        <select id="gender"
                cam-variable-type="String"
                cam-variable-name="customerGender"
                required>
            <option value="männlich" selected>Männlich</option>
            <option value="weiblich">Weiblich</option>
        </select>
    </div>

    <div class="form-group">
        <label for="customerSF">Jahre Unfallfrei</label>
        <input class="form-control"
               cam-variable-type="Integer"
               cam-variable-name="sfClass"
               id="customerSF"
               type="number"
               min="0"
               max="40"
               required
        value="0"/>
    </div>

    <div class="form-group">
        <label for="cars">Autotyp</label>
        <select id="cars"
                cam-variable-type="String"
                cam-variable-name="carType"
                required>
            <option value="Kleinwagen" selected>Kleinwagen</option>
            <option value="Mittelklasse">Mittelklasse</option>
            <option value="Sportwagen">Sportwagen</option>
        </select>
    </div>


    <div class="form-group">
        <label for="price">Beitrag</label>
        <input class="form-control"
               cam-variable-type="String"
               cam-variable-name="price"
               id="price"
               type="text"
               value="120 €"
               readonly/>
    </div>

    <script cam-script type="text/form-script">


        function calculatePrice() {
            var price = 120;
            var sf = $('#customerSF').val();
            if ($('#cars').val() === "Kleinwagen") {
                price = 120;
            }
            if ($('#cars').val() === "Mittelklasse") {
                price = 240;
            }
            if ($('#cars').val() === "Sportwagen") {
                price = 500;
            }

            $('#price').val((price - price * sf / 100) + " €");
        };

        camForm.on('form-loaded', function() {
            $('#cars').on('change', function() {
                calculatePrice();
            });

            $('#customerSF').on('change',function() {
                calculatePrice();
            });
        });

    </script>
</form>